.itemName {
  color: #000;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.divider {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  margin: 20px auto;
  background-color: #000;
}

.scrollDiv {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0px;
  -ms-overflow-style: none;
}

.align-footer {
  padding: 35px;
  text-align: right;
}

@media (max-width: 575.98px) {
  .align-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .scrollDiv {
    height: auto;
  }

  .flag {
    cursor: pointer;
    padding-top: 15px;
  }
}

@media (max-width: 767.98px) {
  .align-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .scrollDiv {
    height: auto;
  }

  .flag {
    cursor: pointer;
    padding-top: 15px;
  }
}

@media (min-width: 767.98px) {
  .flag {
    cursor: pointer;
    padding-top: 15px;
    float: right;
  }
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-left-5 {
  padding-left: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.profile-list {
  list-style: none;
  padding: 0;
}

.display-inline-flex {
  display: inline-flex;
  margin-bottom: 20px;
}

.contactForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.spanForm {
  width: 80px;
  padding: 10px;
}

.inputForm {
  width: 360px;
  margin-left: 15px;
  padding: 8px;
}

.textarea {
  height: 160px;
  resize: none;
}
